
span{
    background-color:#97b9b5!important;
    
}

#fp-nav ul li .fp-tooltip {
    position: absolute;
    color:black!important;
    font-family: "Roboto Condensed"!important;
    font-style: bold!important;
}


#winalton h1{
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 3.8rem;
    text-align: center;
    letter-spacing: 0.2em;
    color: #000000;
    left: 0;
    font-weight: 900;

    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    /* top: 49.5%; */
    width: 100%;
}

#winalton h2{font-family: "Marck Script";
    position: absolute;
    font-weight:thin;
    font-size: 2.8rem;
    text-align: center;
    letter-spacing: 0.2rem;
    color: #000000;
    left: 0;
    line-height: 200px;
    margin-top: -250px;
    position: absolute;
    text-align: center;
    top: 53%;
    width: 100%;
}

#winalton h3{
    position: absolute;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 2.2rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
    left: 0;
    line-height: 200px;
    margin-top: -190px;
    position: absolute;
    text-align: center;
    top: 53%;
    width: 100%;
}

#winalton h4{
    font-family: "Rationale";
    font-style: normal;
    font-weight: normal;
    /* font-size: 36px; */
    font-size: 2.4rem;
    text-align: center;
    letter-spacing: 0.245em;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    font-weight: 50;

    position: absolute;
    text-align: center;
    top: 59%;
    width: 100%;
    color:rgba(10, 10, 10, 0.658);
}


.bio{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: 0.1em;
    font-style: normal;
    letter-spacing: 0.05em;
    left: 0;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    color:rgba(10, 10, 10, 0.658);
}

.bio .a1{
    color: black;
}
.accordion {
    width: 20%;
    height:30%;
}
.bio h1{
    letter-spacing:0.3em;
    font-size: 3rem;
    font-weight: 900;
}

.bio h2{
    right:20%;
    font-weight: 500;
}


.bio p{
    font-size:1rem;
}

.box {
    position: absolute;
    height: 100%;
    width:100%;
}
.bio h3{
    position:relative;
    bottom:-60px;
    left:0;
    text-align: left;
    font-size:1rem;

}

.bio img{
    width: 13rem;
    height:14rem;
}
.s3 h1{
    font-family: "Staatliches";
    font-style: normal;
    font-weight: normal;
    font-size:5rem;
    display: flex;
    left:5%;
    align-items: center;
    text-align: left;
    letter-spacing: 0.05em;
    color: #000000;
}


.s3{
    font-family: "Century Gothic";
    font-size:1rem;
    
}
#main-footer{
    position: absolute;
    left:0;
    top:95%;
}
.bottom{
    text-align:center;
    align-content: center;
    align-items: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 75%;
    color:rgb(54, 53, 53);
    width: 100%;

}

.fa {
    font-size: 2rem;
    width: 6vw;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
.fa:hover {
    opacity:0.4;
}

.fa-facebook {
    color: black;
  }
  
.fa-instagram {
    color: black;
}

.fa-google {
    color: black;
}

.fa-linkedin {
    color: black;
}

.arrow {
    position: fixed;
    opacity: 0;
    left: 50%;
    top: 92%;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
  
.arrow-1 {
    background-color:rgba(0, 0, 0, 0.678);
-webkit-animation: arrow-movement 1.8s ease-in-out infinite;
        animation: arrow-movement 1.8s ease-in-out infinite;
}

.arrow-2 {
    background-color:rgba(2, 2, 2, 0.5);
-webkit-animation: arrow-movement 2.2s ease-in-out infinite;
        animation: arrow-movement 2.2s ease-in-out infinite;
}

.arrow-3 {
-webkit-animation: arrow-movement 1.5s ease-in-out infinite;
        animation: arrow-movement 1.5s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
background: black;
content: '';
display: block;
height: 2px;
position: absolute;
width: 30px;
}

.arrow:before {
-webkit-transform: rotate(45deg) translateX(-23%);
        transform: rotate(45deg) translateX(-23%);
-webkit-transform-origin: top left;
        transform-origin: top left;
}

.arrow:after {
-webkit-transform: rotate(-45deg) translateX(23%);
        transform: rotate(-45deg) translateX(23%);
-webkit-transform-origin: top right;
        transform-origin: top right;
}

@-webkit-keyframes arrow-movement {
0% {
    opacity: 0;
}
70% {
    opacity: 1;
}
100% {
    opacity: 0;
    top: 97%;
}
}

@keyframes arrow-movement {
0% {
    opacity: 0;
}
70% {
    opacity: 1;
}
100% {
    opacity: 0;
    top: 97%;
}
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color:yellow;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.4;
        border-radius: 50px;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

#resume{
    margin: 2.2rem;
    text-align: center;
    background-color: white;
  }
  
  div#resume {
    min-width: 310px;
    font: 16px Helvetica, Avernir, sans-serif;
    line-height: 24px;
    color: #000;
    text-align:left;
  }
  
  div#resume h1 {
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    font-weight: bold;
    border-bottom: 1px solid #999;
    line-height: 50px
  }
  
  div#resume h2 {
    font-size: 20px;
    margin: 0 0 6px 0;
    position: relative;
  }
  
  div#resume h2 span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-style: italic;
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal
  }
  
  div#resume p {
    margin: 0 0 16px 0
  }
  
  div#resume a {
    text-decoration: none;
    border-bottom: 1px dotted #999
  }
  
  div#resume a:hover {
    border-bottom-style: solid;
    color: #000
  }
  
  div#resume p.objective {
    font-family: Georgia, serif;
    font-style: italic;
  }
  
  div#resume dt {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding: 0 26px 0 0;
    width: 150px;
    border-right: 1px solid #999
  }
  
  div#resume dl {
    display: table-row
  }
  
  div#resume dl dt,
  div#resume dl dd {
    display: table-cell;
    padding-bottom: 20px
  }
  
  div#resume dl dd {
    width: 500px;
    padding-left: 26px
  }
  
  div#resume img {
    float: right;
    padding: 10px;
    margin: 0 30px;
    transform: rotate(-4deg);
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    width: 30%;
    max-width: 220px
  }
  
  